<div><h2>
  <div>
    <h3>
      Class Directives
    </h3>

    <p [ngClass]="elementClass">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, illo itaque! Repellat quas eligendi, libero esse unde perferendis voluptates ducimus ipsum ut dolor! Assumenda porro laborum dolorem nemo fugit iusto?
    </p>
    <p [ngStyle]="fontStyles">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, illo itaque! Repellat quas eligendi, libero esse unde perferendis voluptates ducimus ipsum ut dolor! Assumenda porro laborum dolorem nemo fugit iusto?
    </p>
  </div>
</h2></div>