h1 {
  padding: 30px;
}


div {
  margin: 30px;
}

label {
  margin: 10px;
}


input {
  margin: 10px;
}

div:nth-child(3) input {
  margin-left: 25px;
}

div:nth-child(5) input {
  margin-left: 15px;
}

div:nth-child(6) button {
  margin-left: 155px;
}